<h1 class="text-center text-danger text-capitalize bg-warning p-3">Employee Details for ID  {{id}}</h1>
<hr>

<div class="container empDetails">
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="id">Employee id: {{employee.id}}</label>
      </div>
      <div class="form-group">
        <label for="id">Employee name: {{employee.name}}</label>
      </div>
      <div class="form-group">
        <label for="id">Employee age: {{employee.age}}</label>
      </div>
      <div class="form-group">
        <label for="id">Employee mobile: {{employee.mobile}}</label>
      </div>
    </div>


  </div>

</div>